 @page {
     
       size: landscape;
        margin: 10% !important;
     }

 @media print {
      span { page-break-before : always !important; }
     
     
 

    body{
      white-space: nowrap !important;
      hieght: 10px !important;
     }
 }